@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input[type="range"]{
        -webkit-appearance: none;
        appearance: none;
        height: 8px;
        width: 100px;
        background: #fff;
        border: 1px solid #000000;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #000000;
        cursor: pointer;
        margin-top: -11px;
    }
}